@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
}

#maintitle{
  color:green;
  font-size: 30px;
}

#mainimg{
  width: 25%;
  border: 5px solid red;
  box-shadow: 0 0 20px grey;

}

#mainimg:hover{
  border: 5px solid green;
}

.card{
  background-color: white;
  width: 200px;
  height:300px;
  margin: 20px;
  display: inline-block;
  box-shadow: 0 0 20px grey;
}
